.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 600px) {
  .option {
    margin: 20px 20px 0;
    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

.text-black {
  color: black;
}
th {
  cursor: pointer;
}
.confirmed{
  background-color: #ffc107;
  border-color: #ffc107;
}
.confirmed:hover{
  background-color: #ecb40c;
  border-color: #ecb40c;
}
.deaths{
  background-color: #dc3545;
  border-color: #dc3545;
}
.deaths:hover{
  background-color: #c42636;
  border-color: #c42636;
}
.recovered{
  background-color: #28a745;
  border-color: #28a745;
}
.recovered:hover{
  background-color: #1b9b39;
  border-color: #1b9b39;
}
.active:hover{
  background-color: rgb(228, 228, 228);
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: none;
}
.table-light tbody+tbody, .table-light td, .table-light th, .table-light thead th {
  border-color: transparent;
}
.list{
  margin: 0 20px 20px;
}
.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  height: 90vh;
  width: 10vw;
}

.footer{
  position: static;
  bottom: 0;
  width: 100%;
}
button{
  margin: 0 10px 0;
}
.table{
  border-radius: 10px;
}
