.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 600px) {
  .option {
    margin: 20px 20px 0;
    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

.text-black {
  color: black;
}
th,
tr,
tbody,
thead {
  cursor: pointer;
  margin: 0 10px 0;
}
.confirmed {
  background-color: #ffc107;
  border-color: #ffc107;
  width: 20%;
  font-size: 23px;
}
.confirmed:hover {
  background-color: #ecb40c;
  border-color: #ecb40c;
}
.deaths {
  background-color: #dc3545;
  border-color: #dc3545;
  width: 20%;
  font-size: 23px;
}
.deaths:hover {
  background-color: #c42636;
  border-color: #c42636;
}
.recovered {
  background-color: #28a745;
  border-color: #28a745;
  width: 20%;
  font-size: 23px;
}
.recovered:hover {
  background-color: #1b9b39;
  border-color: #1b9b39;
}
.active:hover,
.country:hover {
  background-color: rgb(228, 228, 228);
}

.table td,
.table th {
  padding: 0.5rem;
  vertical-align: top;
  border-top: none;
}
.table-light tbody + tbody,
.table-light td,
.table-light th,
.table-light thead th {
  border-color: transparent;
}
.list {
  margin: 0 20px 20px;
}
.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  height: 90vh;
  width: 10vw;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
button {
  margin: 0 10px 0;
}
.table {
  border-radius: 5px;
}
.show-bg .annotation-note-bg {
  fill: #fff;
  fill-opacity: 1;
  font-size: small;
}

.d-display {
  display: none;
}
/* .thead{
  display: flex;
  position: fixed;
  background-color: #fff;
} */

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-3 {
  margin: 0 20px 0;
}
.icon {
  display: flex;
  justify-content: space-between;
}
.worldTable {
  padding-left: 0rem;
}
.card-image {
  width: 70%;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.ResponsiveContainer {
  font-size: 15px;
}
.small-value {
  justify-content: end;
  color: #7c7c7c;
}
.center {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  margin: auto;
}
.customized-tooltip-content {
  background-color: #fff;
  padding: 10px;
  border: #000;
  border-style: solid;
  border-width: 0.1vh;
}
.bar {
  border-radius: 100px;
}
.data-header {
  margin-top: 5%;
  font-size: 20px;
}

.c-header {
  margin: 10px 0 10px;
}
.progress {
  background-image: linear-gradient(to right, #fff, #ffc107, #dc3545);
}
.progressbar{
  display: block;
}